<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formu.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.formu.bean.vo.Article">
        <id column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="good_num" jdbcType="INTEGER" property="goodNum"/>
        <result column="commnet_num" jdbcType="INTEGER" property="commentNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.formu.bean.po.ArticleFollow">
        <id column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="good_num" jdbcType="INTEGER" property="goodNum"/>
        <result column="hour" jdbcType="TIMESTAMP" property="hour"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="person" jdbcType="VARCHAR" property="person"/>
        <result column="commnet_num" jdbcType="INTEGER" property="commentNum"/>
        <result column="pho"  jdbcType="VARCHAR" property="pho"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
    </resultMap>
    <resultMap id="BaseResultMap3" type="com.formu.bean.po.ArticlePo">
        <id column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="images" jdbcType="VARCHAR" property="articleImages"/>
        <result column="good_num" jdbcType="INTEGER" property="goodNum"/>
        <result column="hour" jdbcType="INTEGER" property="hour"/>
        <result column="commnet_num" jdbcType="INTEGER" property="commentNum"/>
    </resultMap>
    <resultMap id="BaseResultMap4" type="com.formu.bean.po.ArticleTop">
        <id column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="images" jdbcType="VARCHAR" property="articleImages"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pho" jdbcType="VARCHAR" property="pho"/>
        <result column="good_num" jdbcType="INTEGER" property="goodNum"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="hour" jdbcType="INTEGER" property="hour"/>
        <result column="commnet_num" jdbcType="INTEGER" property="commentNum"/>
    </resultMap>
    <sql id="Base_Column_List">
    article_id, category_id, user_id, title, message, images, good_num, create_time,commnet_num
  </sql>
    <sql id="Base_Column_List2">
    a.article_id, a.category_id,c.category_name,a.user_id,b.user_name,b.person,b.pho , a.title, a.message,a.images ,a.good_num, (UNIX_TIMESTAMP(now()) - UNIX_TIMESTAMP(a.create_time)) hour,a.commnet_num
  </sql>
    <sql id="Base_Column_List3">
    article_id,(UNIX_TIMESTAMP(now()) - UNIX_TIMESTAMP(create_time)) hour,images,good_num,commnet_num
  </sql>
    <sql id="Base_Column_List4">
    a.article_id,(UNIX_TIMESTAMP(now()) - UNIX_TIMESTAMP(a.create_time)) hour,a.images,a.good_num,a.commnet_num,a.user_id userid,b.user_name name ,b.pho pho
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List2"/>

        from formu_article a left join formu_user b on a.`user_id`=b.`user_id` left join formu_category c on
        a.`category_id`=c.`category_id`
        where article_id = #{articleId,jdbcType=INTEGER}
    </select>
    <select id="selectall" resultMap="BaseResultMap3">
        select
        <include refid="Base_Column_List3"/>
        from formu_article
        order by create_time desc
    </select>
    <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap3">
        select
        <include refid="Base_Column_List3"/>
        from formu_article
          where message like #{mes,jdbcType=VARCHAR} or title like #{mes,jdbcType=VARCHAR}
        order by create_time desc
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap3">
        select
        <include refid="Base_Column_List3"/>
        from formu_article
        where user_id = #{userId,jdbcType=INTEGER}
        order by create_time desc
    </select>
    <select id="selectByUserIds" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List2"/>
        from formu_article a left join formu_user b on a.`user_id`=b.`user_id` left join formu_category c on
        a.`category_id`=c.`category_id`
        where  a.user_id
        in
        <foreach item="item" index="index" open="(" separator="," close=")" collection="userIdList">
            #{item}
        </foreach>
        order by create_time desc
    </select>
    <select id="selectByGoodAndComment"  resultMap="BaseResultMap4">
        select
        <include refid="Base_Column_List4"/>
        from formu_article a left join formu_user b on a.`user_id`=b.`user_id`
        order by good_num*0.7+commnet_num*0.3  desc
    </select>
    <select id="selectByComment"  resultMap="BaseResultMap4">
        select
        <include refid="Base_Column_List4"/>
        from formu_article a left join formu_user b on a.`user_id`=b.`user_id`
        order by commnet_num desc
    </select>
    <select id="selectByGood"  resultMap="BaseResultMap4">
        select
        <include refid="Base_Column_List4"/>
        from formu_article a left join formu_user b on a.`user_id`=b.`user_id`
        order by good_num desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from formu_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.formu.bean.vo.Article">
        insert into formu_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="images != null">
                images,
            </if>
            <if test="goodNum != null">
                good_num,
            </if>
            <if test="commentNum != null">
                commnet_num,
            </if>

            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="images != null">
                #{images,jdbcType=VARCHAR},
            </if>
            <if test="goodNum != null">
                #{goodNum,jdbcType=INTEGER},
            </if>
            <if test="commentNum != null">
                #{commentNum,jdbcType=INTEGER},
            </if>
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.formu.bean.vo.Article">
        update formu_article
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="images != null">
                images = #{images,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
    <update id="updateGoodNumById" parameterType="java.lang.Integer">
       update formu_article set  good_num = good_num+#{num,jdbcType=INTEGER}
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
    <update id="updateCommnetNumById" parameterType="java.lang.Integer">
       update formu_article set  commnet_num = commnet_num+#{num,jdbcType=INTEGER}
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
</mapper>