<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formu.mapper.CommentGoodMapper">
  <resultMap id="BaseResultMap" type="com.formu.bean.CommentGood">
    <id column="cg_id" jdbcType="INTEGER" property="cgId" />
    <result column="cg_commentid" jdbcType="INTEGER" property="cgCommentid" />
    <result column="cg_userid" jdbcType="INTEGER" property="cgUserid" />
  </resultMap>
  <sql id="Base_Column_List">
    cg_id, cg_commentid, cg_userid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from formu_commentgood
    where cg_id = #{cgId,jdbcType=INTEGER}
  </select>
    <select id="selectByUserAndComment" resultType="com.formu.bean.CommentGood">
      select
      <include refid="Base_Column_List" />
      from formu_commentgood
      where cg_commentid = #{commentId,jdbcType=INTEGER} and cg_userid = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from formu_commentgood
    where cg_id = #{cgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.formu.bean.CommentGood">
    insert into formu_commentgood (cg_id, cg_commentid, cg_userid
      )
    values (#{cgId,jdbcType=INTEGER}, #{cgCommentid,jdbcType=INTEGER}, #{cgUserid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.formu.bean.CommentGood">
    insert into formu_commentgood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cgId != null">
        cg_id,
      </if>
      <if test="cgCommentid != null">
        cg_commentid,
      </if>
      <if test="cgUserid != null">
        cg_userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cgId != null">
        #{cgId,jdbcType=INTEGER},
      </if>
      <if test="cgCommentid != null">
        #{cgCommentid,jdbcType=INTEGER},
      </if>
      <if test="cgUserid != null">
        #{cgUserid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.formu.bean.CommentGood">
    update formu_commentgood
    <set>
      <if test="cgCommentid != null">
        cg_commentid = #{cgCommentid,jdbcType=INTEGER},
      </if>
      <if test="cgUserid != null">
        cg_userid = #{cgUserid,jdbcType=INTEGER},
      </if>
    </set>
    where cg_id = #{cgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.formu.bean.CommentGood">
    update formu_commentgood
    set cg_commentid = #{cgCommentid,jdbcType=INTEGER},
      cg_userid = #{cgUserid,jdbcType=INTEGER}
    where cg_id = #{cgId,jdbcType=INTEGER}
  </update>
</mapper>