<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formu.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.formu.bean.vo.Comment">
        <id column="comment_id" jdbcType="INTEGER" property="commentId"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="from_user" jdbcType="INTEGER" property="fromUSer"/>
        <result column="to_user" jdbcType="INTEGER" property="toUser"/>
        <result column="comment_goodnum" jdbcType="INTEGER" property="commentGoodnum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.formu.bean.po.CommentPo">
        <id column="comment_id" jdbcType="INTEGER" property="commentId"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="from_user" jdbcType="INTEGER" property="fromUSer"/>
        <result column="to_user" jdbcType="INTEGER" property="toUser"/>
        <result column="from_name" jdbcType="VARCHAR" property="fromName"/>
        <result column="comment_goodnum" jdbcType="INTEGER" property="commentGoodnum"/>
        <result column="from_pho" jdbcType="VARCHAR" property="fromUSerPho"/>
        <result column="to_name" jdbcType="VARCHAR" property="toName"/>
        <result column="hour" jdbcType="INTEGER" property="hour"/>
    </resultMap>
    <sql id="Base_Column_List">
    comment_id, article_id, message, parent_id, from_user, to_user, create_time,comment_goodnum
  </sql>
    <sql id="Base_Column_List2">
    a.comment_id, a.article_id, a.message, a.parent_id,a.comment_goodnum,
    a.from_user,b.user_name from_name,b.pho from_pho,a.to_user,c.user_name to_name,(UNIX_TIMESTAMP(now()) - UNIX_TIMESTAMP(a.create_time))/3600 hour
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List2"/>
        from formu_comment a
        left join formu_user b on a.`from_user`=b.`user_id`
        left join formu_user c on a.`to_user`=c.`user_id`
        where comment_id = #{commentId,jdbcType=INTEGER}
    </select>
    <select id="selectByArticleAndisParent" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List2"/>
        from formu_comment a
        left join formu_user b on a.`from_user`=b.`user_id`
        left join formu_user c on a.`to_user`=c.`user_id`
        where article_id = #{articleId,jdbcType=INTEGER} and parent_id=0
        order by create_time
    </select>
    <select id="selectByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List2"/>
        from formu_comment a
        left join formu_user b on a.`from_user`=b.`user_id`
        left join formu_user c on a.`to_user`=c.`user_id`
        where parent_id = #{parentId,jdbcType=INTEGER}
        order by create_time
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from formu_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.formu.bean.vo.Comment">
        insert into formu_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                comment_id,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="fromUSer != null">
                from_user,
            </if>
            <if test="toUser != null">
                to_user,
            </if>
            <if test="commentGoodnum != null">
                comment_goodnum,
            </if>
                create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                #{commentId,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="fromUSer != null">
                #{fromUSer,jdbcType=INTEGER},
            </if>
            <if test="toUser != null">
                #{toUser,jdbcType=INTEGER},
            </if>
            <if test="commentGoodnum != null">
                #{commentGoodnum,jdbcType=INTEGER},
            </if>
               now(),
        </trim>
    </insert>
    <update id="updateGoodNumById" parameterType="java.lang.Integer">
       update formu_comment set  comment_goodnum = comment_goodnum+#{num,jdbcType=INTEGER}
        where comment_id = #{commentId,jdbcType=INTEGER}
    </update>
</mapper>