<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formu.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.formu.bean.vo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="pho" jdbcType="VARCHAR" property="pho" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="yiban" jdbcType="VARCHAR" property="yiban" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="person" jdbcType="VARCHAR" property="person" />
    <result column="home" jdbcType="VARCHAR" property="home" />
    <result column="follow_num" jdbcType="INTEGER" property="followNum" />
    <result column="followed_num" jdbcType="INTEGER" property="followedNum" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, passwd, pho, email, yiban, account, person, follow_num,followed_num,home,birthday, sex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from formu_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.formu.bean.vo.User">
    insert into formu_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
      <if test="pho != null">
        pho,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="yiban != null">
        yiban,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="person != null">
        person,
      </if>
      <if test="home != null">
        home,
      </if>
      sex,
      birthday,
        follow_num,
      followed_num,

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="pho != null">
        #{pho,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="yiban != null">
        #{yiban,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="person != null">
        #{person,jdbcType=VARCHAR},
      </if>
      <if test="home != null">
        #{home,jdbcType=VARCHAR},
      </if>
            0,now(),
         0,0,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.formu.bean.vo.User">
    update formu_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="pho != null">
        pho = #{pho,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="yiban != null">
        yiban = #{yiban,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="person != null">
        person = #{person,jdbcType=VARCHAR},
      </if>
      <if test="home != null">
        home = #{home,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByYB" resultType="com.formu.bean.vo.User">
     select
    <include refid="Base_Column_List" />
      from formu_user
      where yiban = #{yb,jdbcType=VARCHAR}
  </select>
  <select id="selectByAccount" resultType="com.formu.bean.vo.User">
    select
    <include refid="Base_Column_List" />
    from formu_user
    where account = #{account,jdbcType=INTEGER}
  </select>

  <update id="updateByAccount" parameterType="com.formu.bean.vo.User">
        update formu_user
    set
      passwd = #{passwd,jdbcType=VARCHAR}
    where account = #{account,jdbcType=VARCHAR}
    </update>
  <update id="updateFollowNumById">
        update formu_user set  follow_num = follow_num+#{num,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateFollowedNumById">
        update formu_user set  followed_num =   followed_num+#{num,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>